*{
    box-sizing: border-box;
    letter-spacing: -1px;
}
body{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    color: #121212;
    text-decoration: none;
}

.main-header{
    background-color: #121212;
}

.sub-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px 22px;

    width: 1024px;
    height: 52px;
}

.sub-header-right{
    display: inline-flex;
    align-items: center;

    width: 172px;
    font-size: 12px;
}

.sub-header-right a {
    margin: 0px 5px;
    padding: 0px 5px;
}

.sub-header-title{
    margin: 0;
    font-size: 21px;
}

.menu-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px 22px;
    width: 1024px;
    height: 44px;
    font-size: 12px;
    color: #fafafa;
}

.menu-nav > li{
    display: flex;
    align-items: center;
    padding: 0px 9px;
    height: 100%;
    cursor: pointer;
}

.advertising-container{
    border-top: 1px solid #dbdbdb;
    background-color: #f5f5f7;
    color: #1d1d1f;
}
.advertising-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    width: 980px;
    height: 54px;

    font-size: 14px;
}

.now-shop{
    color: #06c;
}

.now-shop:hover{
    text-decoration: underline;
}

.now-shop::after{
    display: inline-block;
    padding-left: 5px;
    top: 0;
    content:">";
    text-decoration: none;

}

.product-main{
    height: 1500px;
}

.product-main-title{
    margin: 0px auto;
    padding: 0px 22px;
    width: 1024px;
}

.main-title-text{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    margin-top: 50px;
    padding: 20px;
    height: 90px;

    font-size: 48px;
}
.product-select-list{
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.product-select-button{
    border: 1px solid #d2d2d7;
    width: 141px;
    height: 91px;

    font-weight: 600;
    font-size: 17px;

    background-color: white;
    cursor: pointer;
}

.product-select-button:nth-of-type(1){
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.product-select-button:nth-last-child(1){
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.product-select-list .selected{
    border: 2px solid #06c;
}

.product-informations{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 25px;

    font-size: 21px;
    font-weight: 600;
}

.product-informations .fa-sharp{
    font-size: 26px;
}

.product-informations div, .product-informations a{
    margin-bottom: 5px;
}

.product-informations a{
    color: #06c;
}

.product-informations a:hover{
    text-decoration: underline;
}

.product-list{
    display: flex;
    justify-content: center;

    margin: 0px auto;
    padding-top: 60px;
    width: 980px;
}

.product-container{

    margin-left: 70px;
    border: 1px solid #d2d2d7;
    width: 280px;
}

.product-container:nth-of-type(1){
    margin: 0;
}

.product-image-container{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    overflow: hidden;
}

.product-image-container img{
    width: 280px;
}

.color-text{
    margin-left: 1.6px;
    font-size: 12px;
    font-weight: 600;
    color: #1D1D1F;
}

.color-radio-group{
    display: flex;
}

.color-radio-group input[type=radio]{
    display: none;
}

.color-radio-group input[type=radio] + label{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.6px;
    border-radius: 50%;
    width: 34px;
    height: 34px;

    cursor: pointer;
}

.color-radio-group input[type=radio] + label:hover{
    border: 2px solid #dbdbdb
}

.color-radio-group input[type=radio]:checked + label{
    border: 2px solid #06c;
}

.color-radio-group input[type=radio] + label .color-circle{
    border-radius: 50%;
    width: 24px;
    height: 24px;

}

.c1{
    background-color: #2E3641;
}

.c2{
    background-color: #F0E5D3  ;
}

.c3{
    background-color: #7D7E80;
}

.c4{
    background-color: #E3E4E6;
}

.product-detail-info{
    margin: 20px 0px;
}

.cpu-image{
    padding-bottom: 10px;
    width: 51px;
    height: 61px;
    overflow: hidden;
}

.cpu-image img{
    width: 51px;
}

.product-simple-info{
    font-size: 24px;
    color: #1D1D1F;
    font-weight: 600;
}

.product-specs-list{
    margin-top: 20px;
}

.product-specs-list li{
    margin-top: 5.6px;
    font-size: 14px;
    color: #1D1D1F;
}

.price-container{
    margin-top: 19.2px;
}

.product-price{
    font-size: 24px;
    font-weight: 600;
    color: #1D1D1F;
}

.product-price-monthly-plan{
    padding-top: 6px;

    font-size: 14px;
    font-weight: 400px;
    color: #86868B;
}

.monthly-plan-link{
    padding-top: 6px;
    
    font-size: 14px;
    color: #06c;
}

.product-button{
    margin-top: 50px;
    width: 297.5px;
    height: 36px;
}

.product-button button{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;
    border-radius: 5px;

    width: 280px;
    height: 36px;

    font-size: 17px;
    font-weight: 400;

    background-color: #06c;
    color: #fff;

    cursor: pointer;
}

.product-button button :hover {
    color: rgb(217, 218, 219);
}

.product-save{
    padding-top: 24px;
    color: #1D1D1F;
}

.product-save h3{
    margin: 0;
    padding-bottom: 8px;
    font-size: 17px;
}

.product-save div{
    margin-right: 20px;
    padding-bottom: 8px;
    font-size: 14px;
}

.product-save a{
    font-size: 14px;
    color: #06c;
    padding: auto;
}

.product-delivery{
    display: flex;
    padding-top: 20px;
    font-size: 14px;
    color: #1D1D1F;
}

.product-delivery h3{
    margin: 0;
}

.devlivery-check{
    font-weight: 400;
    color: #06c;
}

.devlivery-check :hover{
    text-decoration: underline;
}

.product-inventory{
    padding-top: 16px;
    font-size: 14px;
    color: #1D1D1F;
}

.product-inventory h3{
    margin: 0;
}

.inventory-check{
    padding-left: 18px;
    font-size: 400;
    color: #06c;
}

.inventory-check :hover{
    text-decoration: underline;
}