*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-thumb{
    background-color: #F0E5D3;
    border-radius: 10px;
}

.container{
    position: relative;
    margin: 50px auto;
    border: 2px solid #DBDBDB;
    width: 600px;
    height: 800px;
    background-color: #FFF;
    overflow: hidden;
}


input ,textarea{
    border: none;
    outline: none;
    padding: 5px;
}

input:focus, textarea:focus{
    background-color: #F0E5D3;
}

button{
    border: 1px solid #DBDBDB;
    padding: 5px 10px;
    background-color: #FFF;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background-color: #F0E5D3;
}

button:active{
    background-color: #F0F0F0;
}
